{% extends 'base.html.twig' %}

{% block title %}



{% endblock %}

{% block body %}
{% set a = 1 %}

{# <style>

{{".limoto" ~ a}}
    color:
</style> #}

<div class="journal">
<ul class="grosul">
    <div class="cata libase">
        <h1>La Catalogue Moutours</h1>
        <h3>Viendez Voir Le Békan</h3>
        <img src={{asset('img/transf.avif')}}>
    </div>
    {% for moto in motos %}
        
        <div class='cata limoto'>
        <h1>{{moto.marque}} {{moto.nom}}</h1>
            <a>
            <img src={{ asset('img/'~ moto.image)}}>
            </a>
            <ul>
                <li>Le Mark : {{moto.marque}}</li>
                <li>La Moudil : {{moto.nom}}</li>
                <li>La Calour : {{moto.couleur}}</li>
                <li>Les z'Anni : {{moto.annee}}</li>
                <li>La Prisse : {{moto.prix}}€</li>
            </ul>

            
            {# <div class='test'> #}
            {# <img  #}
            {# src={{ asset('img/mt10-Photoroom-Photoroom.png')}}> #}
            {# </div> #}

            {# <a  #}
            {# href={{ path('app_recipe_delete', {id:recipe.id}) }} #}
            {# >Delete</a> #}
            
        </div>
        
    {% endfor %}
    <div class='botth'>
        <div class="btnPaNext"><</div>
        <a 
        class='createMoto'
        href={{ path('motocreate')}}>Ajoute Dans L'Catalougue</a>
        <div class="btnNext">></div>
    </div>
</ul>
</div>
{% endblock %}
