<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <script src={{asset('js/script.js')}} defer></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body id="{{ app.current_route == 'home' ? '' : 'bodymoto'}}">
    {% include 'components/header.html.twig' %}
        <div id="{{ app.current_route == 'home' ? 'base' : 'basemoto'}}">
            {% block body %}
                <h1>La Magasin Du Motor</h1>
                <div class='ridesec'>
                    <div>
                        <h3>Ridez en toute sécurité avec la Mt10.</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit velit placeat ipsam consectetur. Rerum tenetur fugiat commodi quis, repellendus illum, aliquid maxime adipisci distinctio repellat nam deleniti? Commodi enim officia doloribus ea mollitia sed aspernatur, quo a delectus pariatur quisquam aliquam voluptas consequuntur sint animi cupiditate perferendis?</p>
                        <ul>
                            <li>Waw La Moutour : Apagnan</li>
                            <li>Le Vitesse : Très Vite</li>
                            <li>Waw La Moutour : Apagnan</li>
                            <li>Le Vitesse : Très Vite</li>
                        </ul>
                    </div>
                    <div class='imgmt10home'>
                    </div>
                </div>
                <h1>Le Vite Cé B1 !</h1>
                <div class="cbien">
                    <div class="bien">
                        <h2>
                            La Moutour
                        </h2>
                        <img 
                        src={{asset('img/moto.png')}}
                        >
                        <h2>
                            Cé B1 !!
                        </h2>
                    </div>
                    <div class="bien">
                        <h2>
                            La Kask
                        </h2>
                        <img 
                        src={{asset('img/casque.png')}}
                        >
                        <h2>
                            Cé B1 !!
                        </h2>
                    </div>
                    <div class="bien">
                        <h2>
                            La Ygrek
                        </h2>
                        <img 
                        src={{asset('img/moto1.png')}}
                        >
                        <h2>
                            Cé B1 !!
                        </h2>
                    </div>
                </div>
            {% endblock %}
        </div>
        
    </body>
</html>
